# Entorno virtual
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Streamlit cache
.streamlit/secrets.toml

# Variables de entorno
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/